@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.admin_header {
    background-color:#00264D; 
    border-bottom: 0.5px solid #BBB; 
}

.admin_header_flex {
    display: flex;
    justify-content: center;
}

.admin_header_2 {
    display: flex; 
    justify-content: space-between; 
    background-color: #00264D;
}

.admin_header_2_flex {
    display: flex;
    align-items: center;
}

.admin_header_2_link_deco {
    text-decoration: none; 
    color: white;
}

.admin_dropdown_style {
    width: 250px; 
    box-shadow: 10px 10px 20px #00264D;
}

// 途中
.admin_header_app_name {
    margin-bottom: 0;
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

.admin_header_app_name:hover {
    opacity: 0.8;
}

.admin_header_link_deco:hover {
    text-decoration-line: none;
}

.link_text{
    color: black;
}

.link_text:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
    color: black;
}

.link_deco {
    text-decoration: none;
}

.header_link_deco:hover {
    text-decoration: none;
    opacity: 0.8;
}

// ここまで

.header_app_icon {
    margin: 0 auto;
    color: white;
}

.header_app_name {
    margin: 0 auto;
    color: white;
}

.header_ul_style {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    align-items: center; 
    list-style: none;
}

.header_padding {
    padding-top: 205px; 
    background-color:#FFF; 
    min-height: 85vh;
}

.dropdown_ul_style {
    width: 300px; 
    box-shadow: 10px 10px 20px #00264D;
}

.dropdown_all_site_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all_site_style {
    width: 145px;
}

.all_site_style:nth-child(odd) {
    border-bottom: 0.5px solid silver;
    border-right: 0.5px solid silver;
}

.all_site_style:nth-child(even) {
    border-bottom: 0.5px solid silver;
}

.premium_btn_style {
    width: 100%; 
    border: 2px solid #00264D; 
    background-color:#FF8000; 
    color: white; 
    box-shadow: 4px 5px 7px #CCC;
}

.registration_btn_style {
    background-color:#66CC00; 
    color: white;
}

// 検索フォーム
.input-group {
    margin: 0 auto;
    width: 95%; 
    height: 60px;
    box-shadow: 10px 8px 5px rgba(128,128,128, 0.25);
}

.input-group-prepend {
    height: 60px; 
    border: 0.5px solid #00264D;
}






body {
    min-height: 96vh;
    position: relative; /*←相対位置*/
    padding-bottom: 100px; /*←footerの高さ*/
    box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
    background-color:#EEE;
}

// 各画面共通
.view_title {
    display: flex;
    flex-wrap: wrap;
}

.view_each_div {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.comic_title_div {
    width: 150px;
    height: auto;
}

.paginate_style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.back_action{
    width: 95%; 
    height: 60px; 
    line-height: 60px; 
    background-color:#FFF; 
    box-shadow: 5px 5px 5px #DDD;
    display: flex;
    justify-content: center;
}
// ここまで

// admin
.admin_body_top_margin {
    background-color: #EEE; 
    height: 100px;
}

.admin_body_infomation {
    margin: 0 auto;
    border: 0.5px solid silver;
    background-color: #FFF; 
    box-shadow: 10px 10px 10px 7px #DDD; 
    padding-bottom: 80px;
}

.admin_user_info_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.admin_body_backstyle {
    background-color: #EEE; 
    padding: 30px 0; 
    min-height: 71vh;
}

.admin_body_row {
    display: flex;
    justify-content: center;
    border: 1px solid #00264D; 
    border-radius: 20px; 
    box-shadow: 5px 5px 8px 3px #ddd inset;
}

.admin_body_col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.user_email {
    width: 85%; 
    margin-top: 10px; 
    border-top: 0.5px solid silver; 
    border-bottom: 0.5px solid silver; 
    overflow-wrap: break-word;
}

.sampleA {
    display: none;
}

.sampleA_subordinate {
    height: 400px; 
    width: 100%; 
    display: flex; 
    justify-content: center;
}

.infomation_table_tr {
    border-bottom: 1px solid silver;
}

.infomation_table_th {
    text-align: center; 
    vertical-align: middle; 
    white-space: nowrap;
}

.infomation_table_td {
    vertical-align: middle;
}


.infomation_no_data {
    display: table; 
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

.infomation_no_data_text {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    color: silver;
    text-align: center;
    margin-bottom: 0;
}

// public
.top3_unknown_user {
    height: 122px;
}

.top5_unknown_user {
    height: 112px;
}






footer {
    height: 100px; 
    background-color:#00264D;
    
    .text_centering_to_div {
    display: table;
    height: 100px; 
    width: 100%;
    }
    
    .text_centering_to_text {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center;
    }
    
    .link_to_admin:hover {
        opacity: 0.8;
    }
}







.user_icon {
    img {
        border-radius: 45px;
        border: 2px solid #00264D;
        object-fit: cover;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rank_index_user_icon {
    img {
        border-radius: 45px;
    }
}

.comic_contents {
    min-height: 53vh;
}

.comic_contents_margin {
    margin-bottom: 80px;
}

.contents_box {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}

.contents_box::-webkit-scrollbar{
    display: none;
}

.contents:first-child {
    margin-left: 50px;
} 

.contents_action_box {
    display: flex; 
    justify-content: flex-end;
}

.contents_action {
    display: none;
}

.contents_action_slide {
    height: auto; 
    width: auto; 
    padding: 30px 20px; 
    display: flex; 
    justify-content: center;
}

.admin_table tr:last-child {
    border-bottom: 0.5px solid silver; 
} 

.rank_table {
    overflow-x: scroll;
    white-space: nowrap;
}

.rank_table::-webkit-scrollbar{
    display: none;
}

.user_rank_index_table tr:last-child {
    border-bottom: 0.5px solid silver; 
} 

a.img_link:hover {
	  opacity: 0.5;
}

.top_img_comic {
  width: 150px; 
  height: 230px; 
  background-size: cover; 
  border: 0.5px solid #00264D; 
  box-shadow: 8px 8px 20px #999;
}

.img_comic {
  width: 150px; 
  height: 230px; 
  background-size: cover; 
  border: 0.5px solid #00264D; 
  box-shadow: 8px 8px 20px #999;
}

.read_judgement:hover {
    opacity: 0.5;
}

.can_read_radio{
    border: 2px solid #2C7CFF; 
    background-color: #A4C6FF; 
    cursor: pointer; 
    border-radius: 5px;
}

.can_not_read_radio{
    border: 2px solid #7B3CFF; 
    background-color:#D0B0FF; 
    cursor: pointer; 
    border-radius: 5px;
}

.can_read_radio_view{
    border: 2px solid #2C7CFF; 
    background-color: #A4C6FF; 
    border-radius: 5px;
}

.can_not_read_radio_view{
    border: 2px solid #7B3CFF; 
    background-color:#D0B0FF; 
    border-radius: 5px;
}

.list_marker {
    list-style: none;
}

.list_deco {
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

ul li .list_icon {
    position: relative;
    padding-left: 25px;
}

ul li .list_icon::before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    color: #66CC00;
}

.top-blank {
    padding: 35px 30px 45px; 
    background-color:#EEE;
}

.font_1 {
    font-family: 'Bruno Ace', cursive; 
}

.font_2 {
    font-family: 'Dela Gothic One', cursive;
}

.font_3 {
    font-family: 'Shrikhand', cursive;
}

.font_shadow {
    text-shadow: 4px 4px 4px #aaa;
}

.button_shadow{
    box-shadow: 4px 5px 7px #EEE;
}

.object-centering {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.object-put-end {
    display: flex;
    justify-content: center; 
    align-items: end;
}

.object-background {
    background-color:#FFF; 
    box-shadow: 0.5px 5px 5px 5px #DDD;
}

.object-shadow {
    box-shadow: 10px 0px 10px 3px #EEE;
}

#error_explanation {
  width: 90%;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  p {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}



// PCフォースト（...defalutがPCサイズの画面）の場合上にPCサイズのCSSを記述

.media_pc {
    display: block;
}

.media_tb {
        display: none;
    }

.media_sp {
    display: none;
}


@media screen and (max-width: 768px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
    .media_pc {
        display: none;
    }
    
    .media_tb {
        display: block;
    }
    
    .media_sp {
        display: none;
    }
}

@media screen and (max-width: 576px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
    .media_pc {
        display: none;
    }
    
    .media_tb {
        display: none;
    }
    
    .media_sp {
        display: block;
    }
}