@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.wrapper {
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 100px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.rank_que_wrapper {
    min-height: 20vh;
    position: relative;/*←相対位置*/
    padding-bottom: 80px;/*←footerの高さ*/
    box-sizing: border-box;
}

footer, .rank_que {
    width: 100%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

.user_icon {
    img {
        border-radius: 45px;
        border: 2px solid #00264D;
    }
}

.comic_contents {
    min-height: 53vh; 
}

.comic_contents_top {
    margin: 80px 0;
}

.comic_contents_other {
    margin-bottom: 80px;
}

.contents_box {
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
}

.contents_box::-webkit-scrollbar{
    display: none;
}

.contents:first-child {
    margin-left: 50px;
} 

.contents_action_box {
    display: flex; 
    justify-content: flex-end;
}

.contents_action {
    display: none;
}

.contents_action_slide {
    height: auto; 
    width: auto; 
    padding: 30px 20px; 
    display: flex; 
    justify-content: center;
}

.site_name_header:nth-child(odd) {
    border-bottom: 0.5px solid silver;
    border-right: 0.5px solid silver;
}

.site_name_header:nth-child(even) {
    border-bottom: 0.5px solid silver;
}

.admin_table tr:last-child {
    border-bottom: 0.5px solid silver; 
} 

.user_rank_index_table tr:last-child {
    border-bottom: 0.5px solid silver; 
} 

a.img_link:hover {
	  opacity: 0.5;
}

.top_img_comic {
  width: 150px; 
  height: 230px; 
  background-size: cover; 
  border: 0.5px solid #00264D; 
  box-shadow: 8px 8px 20px #999;
}

.img_comic {
  width: 150px; 
  height: 230px; 
  background-size: cover; 
  border: 0.5px solid #00264D; 
  box-shadow: 8px 8px 20px #999;
}

.read_judgement:hover {
    opacity: 0.5;
}

.can_read_radio{
    border: 2px solid #2C7CFF; 
    background-color: #A4C6FF; 
    cursor: pointer; 
    border-radius: 5px;
}

.can_not_read_radio{
    border: 2px solid #7B3CFF; 
    background-color:#D0B0FF; 
    cursor: pointer; 
    border-radius: 5px;
}

// 以下サイドバーのCSS
.channel-menu {
    position: fixed;
    top: 0;
    @media screen and (max-width: 1100px) {
      position: inherit;
      margin-left: 0;
    }
}

.channel-menu_name {
    display: inline-block;
    padding: 0 0.5rem 0 1.5rem;
    color: #555459;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 53px;
    cursor: pointer;
    @media screen and (max-width: 1100px) {
      padding-left: 0;
    }
}

.channel_name .prefix {
    margin-right: 8px;
}

.channel-menu_prefix {
    padding-right: 0.5rem;
    font-weight: 500;
}

.channel-menu_date {
    font-weight: bold;
}

.channel-menu h3 {
    float: right;
    padding-right: 0.1rem;
    font-weight: 500;
}

.listings {
    border: 0.5px solid #00264D; 
    min-height: 74vh;
    height: 100%;
    width: 100%;
    float: left;
    color: #ab9ba9;
    background-color: #00264D;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    @media screen and (max-width: 600px) {
      display: none;
      position: absolute;
      &.show {
        display: block;
      }
    }
}

.listings_channels {
    // margin: 1rem 0 2rem;
}

.listings_header {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin: 0 1rem 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #778899;
    width: 165px;
    position: relative;
}

.channel_list {
    padding: 0;
    list-style-type: none;
    text-align: left;
    color: #ab9ba9;
}

.channel {
    height: 24px;
    line-height: 24px;
    padding-right: 17px;
    color: #ffffff;
    padding-left: 1rem;
    a {
      color: #ddd;
      text-decoration: none;
      width: 100%;
      display: inline-block;
    }
    a:hover {
      color: #eee;
    }
}

.channel.active {
    background: #003973;
}

.list_marker {
    list-style: none;
}

.list_deco {
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}

ul li .list_icon {
    position: relative;
    padding-left: 25px;
}

ul li .list_icon::before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    color: #66CC00;
}

.top-blank {
    padding: 35px 30px 45px; 
    background-color:#EEE;
}

.font_1 {
    font-family: 'Bruno Ace', cursive; 
}

.font_2 {
    font-family: 'Dela Gothic One', cursive;
}

.font_shadow {
    text-shadow: 4px 4px 4px #aaa;
}

.button_shadow{
    box-shadow: 4px 5px 7px #EEE;
}

.object-centering {
    justify-content: center; 
    align-items: center;
}

.object-background {
    background-color:#FFF; 
    box-shadow: 0.5px 5px 5px 5px #DDD;
}

.object-shadow {
    box-shadow: 10px 0px 10px 3px #EEE;
}

#error_explanation {
  width: 90%;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  p {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// .flex-container {
//   display: inline-flex;
//   align-items: center;
// }
// .flex-container > :last-child {
//   margin-left: auto;
// }

.link_text:hover {
    text-decoration-line: underline;
    color: black;
}

.link:hover {
    opacity: 0.5;
}

// .link:active{
//     color: orange;
// }