<% if user_signed_in? %>
    <% if current_user.bookmarked?(comic.id) %>
      <%= link_to comic_create_bookmark_path(comic), method: :delete, remote: true, class:"btn p-0" do %>
          <div class="d-inline-flex" style="align-items: center;">
            <small class="mr-3 mb-0 p-1"><%= comic.bookmarks.count %>人 が追加</small>
            <h3 class="mb-0"><i class="bi bi-bookmark-check-fill"></i></h3>
          </div>
      <% end %>
    <% else %>
      <%= link_to comic_destroy_bookmark_path(comic), method: :post, remote: true, class:"btn p-0" do %>
          <div class="d-inline-flex" style="align-items: center;">
            <small class="mr-3 mb-0 p-1"><%= comic.bookmarks.count %>人 が追加</small>
            <h3 class="mb-0"><i class="bi bi-bookmark-plus"></i></h3>
          </div>
      <% end %>
    <% end %>
<% end %>