<!--<div style="background-color:#EEE; height:100px;"></div>-->
<!--  <div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">-->
    
<!--    <div class="col-lg-6 mx-auto p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD;">-->
<!--        <#%= link_to root_path, class:"btn btn-sm mb-4 px-3 border", style:"color:#00264D;" do %>-->
<!--          <i class="bi bi-arrow-left"></i>-->
<!--        <#% end %>-->
        
<!--        <div class="d-flex flex-wrap"  style="padding:30px 20px; justify-content:center;">-->
<!--            <#%= image_tag @top_rb_comic_info.large_image_url, class:"m-3", style:"width:170px; height:250px; background-size: cover; border:0.5px solid #00264D; box-shadow:8px 8px 20px #999;" %>-->
<!--            <div class="p-3">-->
<!--                <h5><b>' <#%= @top_rb_comic_info.title %> '</b><small>の詳細2</small></h5>-->
<!--                <div class="mt-3">-->
<!--                  <#%= @top_rb_comic_info.author %><br>-->
<!--                  <small>(<#%= @top_rb_comic_info.author_kana %>)</small><br>-->
<!--                  <#%= @top_rb_comic_info.publisher_name %><br>-->
<!--                  <small><#%= @top_rb_comic_info.sales_date %></small><br>-->
<!--                  <small>-->
                    <!--<#% @site_comic_info.each do |sc_info| %>-->
                    <!--  <#%= sc_info.name %>-->
                    <!--<#% end %>-->
<!--                  </small>-->
<!--                </div>-->
<!--                <div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    
<!--  </div>-->
<!--</div>-->
    