<div style="background-color:#EEE; height:100px;"></div>
<div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
    <div class="col-lg-9 col-md-9 mx-auto mb-4 py-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD; padding-bottom:80px;">
        <%= link_to q_and_a_path, class:"btn btn-sm ml-5 mb-2 px-3 border", style:"color:#00264D;" do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
        <div class="mx-auto py-5 px-3" style="border:double 7px red; border-radius:20px; width:70%;">
            <div class="d-flex justify-content-center">
                <ul class="mb-0 pl-3" style="color:red;">
                    <h4 class="font_1 mb-3">
                        <strong>
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            Attention
                        </strong>
                    </h4>
                    <li class="font_1 mb-2">
                        My Ranking がリセットされます。
                    </li>
                    <li class="mb-2">
                        ブックマーク機能が失われます。
                    </li>
                    <li class="mb-2">
                        サイト情報の更新が出来なくなります。
                    </li>
                    <li>
                        一度退会したアカウントの復元は出来ません。
                    </li>
                </ul>
            </div>
            <div class="mt-4 mx-auto d-flex justify-content-center">
                <%= link_to "DELETE", unsubscribe_path, method: :patch, class:"btn btn-danger rounded-pill font_1", style:"width:70%;","data-confirm" => "アカウントが完全に削除されます。本当に退会しますか？" %>
            </div>
        </div>
    </div>
</div>