<div style="background-color:#EEE; height:100px;"></div>

<div style="background-color:#EEE; padding:30px 0; min-height: 71vh;">
    
    <div class="col-lg-7 col-md-7 mx-auto mb-4 p-5 border" style="background-color:#FFF; box-shadow:10px 10px 10px 7px #DDD; padding-bottom:80px;">
        
        <div class="font_1 d-flex flex-wrap" style="border-bottom:2px solid #00264D;">
            <div class="d-flex align-items-end">
                <h3 class="mb-0" style="color:#66CC00;">Q</h3>uestion
            </div>
            <div class="d-flex align-items-end">
                <h4 class="mx-3 mb-0">&</h4>
            </div>
            <div class="d-flex align-items-end">
                <h3 class="mb-0" style="color:#66CC00;">A</h3>nswer
            </div>
        </div>
        
        <div class="table-responsive-lg js-scrollable border mt-4" style="border-radius:20px;">
            <p class="mx-4 mt-5 small">項目をクリックしてください。</p>
            
            <table class="table table-borderless">
                
                
                 <tr style="list-style:none">
                    <td class="px-4 py-2">
                        
                        <div class="sample">
                            <input class="btn d-flex text-light p-3 w-100" type="button" style="background-color:#00264D; border-radius:10px;" value="Q. Comic Read now! とは？">
                        </div>
                        
                        <div class= "sampleA mt-2 p-2 border" style="display:none;">
                            <div style="height:auto; width:100%; display:flex;">
                                <div class="p-3">
                                    <ul class="mb-0 px-4">
                                        <li style="list-style-type: upper-latin">
                                            <b>Comic Read now!</b> は "気になる漫画を即座に読む"をモットーに作られたアプリケーションです。<br><br>
                                            「広告で見かけた漫画はどこで読める？」<br>
                                            「今売れている漫画は？」<br>
                                            「お気に入りの漫画が発売されているのか知りたい」<br>
                                            「次は何を読もう？」<br><br>
                                            こんなお悩みはもちろんのこと<br>
                                            漫画アプリをこれ以上ダウンロードすることなく、<br>
                                            自分が登録している漫画アプリで読めるかをサクッと調べられるようにお手伝いします！<br><br>
                                            漫画LOVER の皆さんが漫画ライフを存分に楽しめれるよう、<br>
                                            今後も様々な機能を追加予定です。
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                
                <tr style="list-style:none">
                    <td class="px-4 py-2">
                        <div class="sample">
                            <input class="btn d-flex text-light p-3 w-100" type="button" style="background-color:#00264D; border-radius:10px;" value="Q. ランクの上げ方について詳しく知りたい">
                        </div>
                        
                        <div class= "sampleA mt-2 p-2 border" style="display:none;">
                            <div style="height:auto; width:100%; display:flex;">
                                <div class="p-3">
                                    <ul class="mb-0 px-4">
                                        <li style="list-style-type: upper-latin">
                                            User Ranking は以下の内容をトライすることでUPします！<br><br>
                                            1.　漫画サイト情報の新規追加<br>
                                            2.　漫画サイト情報の編集<br>
                                            3. 「読めた」「読めなかった」の可読判定<br><br>
                                            こちらの機能は漫画の詳細ページや各一覧画面で可能となっております。<br><br>
                                            特にオススメのランクUPの方法は「1. 漫画サイト情報の新規追加」です。<br>
                                            今なら回数が×２倍となっているため、比較的早くランキングが上昇します。<br><br>
                                            さらにランキング上位者にはスタートアップ記念で <b>報酬特典</b> 付き！<br>
                                            SCOREの数に応じて特典の内容も変化いたします。<br><br>
                                            <div class="text-danger">
                                                <b>
                                                    <i class="bi bi-exclamation-triangle"></i>
                                                    注意事項
                                                    <i class="bi bi-exclamation-triangle"></i>
                                                </b><br>
                                                悪質な方法でランクを上げていることが発覚した場合、<br>
                                                該当のユーザのアカウント停止を行います。<br>
                                                さらに、ユーザ登録が今後認められない場合がございますのでご注意ください。
                                            </div>
                                            
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr style="list-style:none">
                    <td class="px-4 pt-2 pb-5">
                        <div class="sample">
                            <input class="btn d-flex text-light p-3" type="button" style="width:100%; background-color:#00264D; border-radius:10px;" value="Q. 退会方法について知りたい">
                        </div>
                        
                        <div class= "sampleA mt-2 p-2 border" style="display:none;">
                            <div style="height:auto; width:100%; display:flex;">
                                <div class="p-3">
                                    <ul class="mb-0 px-4">
                                        <li style="list-style-type: upper-latin">
                                            退会は
                                            <%= link_to "こちら", confirmation_path %>
                                            から可能です。
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                
                
            </table>
        </div>
    </div>
</div>

<script>
  $(function(){
    //ボタンのイベント
    $(".btn").click(function(e){
      // sampleAクラスをスライドアップ/ダウンさせる
      $(e.target).parent().next('.sampleA').slideToggle();
    });
  });
  
  new ScrollHint('.js-scrollable', {
    scrollHintIconAppendClass: 'scroll-hint-icon-white'
  });
</script>