<div class="col-lg-3 col-md-3 col-sm-2 p-0">
    <div class="listings">
        <div class="listings_channels">
            <h2 class="listings_header mb-2">admin</h2>
            <ul class="channel_list">
              <%= sidebar_link_item("# User一覧", admin_top_path) %>
              <!--<#%= sidebar_link_item("# Premium User一覧", admin_premium_index_path) %>-->
              <%= sidebar_link_item("# 不適切コメント管理一覧", admin_comment_index_path) %>
            </ul>
        </div>
    </div>
</div>